body , html {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.titulos {
    padding-bottom: 300px;
    text-align: center;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;;
}
.subt {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: black;
}

